streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
geopy==2.4.1
folium==0.16.0
streamlit-folium==0.20.0
geopandas==0.14.4
shapely==2.0.4
fiona==1.9.6
pyproj==3.7.1
networkx==3.3
osmnx==1.9.3
reportlab==4.2.2
matplotlib==3.9.0
pillow==10.4.0
openpyxl==3.1.5
scikit-learn==1.5.1
python-dotenv==1.0.1
